body {
    background-image: url(./images/silverware.jpg);
    width: 80%;
    background-color: #FFFFFF;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
    margin-left: 5%;
    margin-right: 5%;
 }
 
 a {
    color: #A4A400;
}

h1 > span{
    font-size: 22pt;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-decoration: underline;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

 h1,h2,h3{
    background-color: #F0F0F0;
    color: #A4A400;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-align: left;
    text-decoration: underline;
 }

 ul li{
    list-style-image: url("./images/pie_icon.gif");
}

footer p{
    width: 40%;
    text-align: right;
}

.comments p {
    width: 80%;
    background-color: rgba(234, 247, 62, 0.9);
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color:rgba(200,200,200,0.9);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.inline-block{
    display: inline-block;
}
