body {
    background-image: url(./images/silverware.jpg);
    width: 80%;
    background-color: #FFFFFF;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
    margin-left: 10%;
    margin-right: 10%;
 }
 
 a {
    color: #A4A400;
}

h1 > span{
    font-size: 22pt;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-decoration: underline;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

 h1,h2,h3{
    background-color: #F0F0F0;
    color: #A4A400;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-align: left;
    text-decoration: underline;
 }
